.primary,
.secondary {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-black);
}

.secondary {
  border: 1px solid currentColor;
}

.ghost {
  display: inline-flex;
  align-items: center;
  line-height: 0;
}
