.headerSpacer {
  flex-shrink: 0;
  height: 0;
  transition: height var(--transition-duration) ease;

  :global(body[data-transparency="solid"]) & {
    height: var(--header-height);
  }
}

.logo {
  height: 28px;
  aspect-ratio: 138 / 28;

  @media (max-width: 768px) {
    height: 24px;
  }
}
